atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-RESTful==0.3.6
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
MyApplication==0.1.0
pluggy==0.7.1
py==1.6.0
pytest==3.7.4
pytz==2018.6
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.11
SQLAlchemy-Wrapper==1.9.1
Werkzeug==0.14.1
cerberus==1.2