aniso8601==3.0.2
ask==0.0.8
atomicwrites==1.2.1
attrs==18.2.0
baidu==0.2
beautifulsoup4==4.6.3
Cerberus==1.2
certifi==2018.8.24
chardet==3.0.4
click==6.7
defusedxml==0.5.0
dicttoxml==1.7.4
feedparser==5.2.1
Flask==1.0.2
Flask-Cors==3.0.6
Flask-Login==0.4.1
Flask-RESTful==0.3.6
idna==2.7
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.3.0
MyApplication==0.1.0
pbr==4.2.0
pluggy==0.7.1
py==1.6.0
pymongo==3.7.1
pytest==3.7.4
pytz==2018.6
quora==0.1.23
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.11
SQLAlchemy-Wrapper==1.9.1
urllib3==1.23
Werkzeug==0.14.1
