<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Home</title>

    <!-- Mobile Specific Metas
	================================================== -->

    <!-- CSS
	================================================== -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/zerogrid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='css/font-awesome.css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">


    <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
    <script src="{{ url_for('static',filename='js/jquery1111.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>

    <link href="{{ url_for('static',filename='css/owl.carousel.css') }}" rel="stylesheet">

</head>

<body>
<div class="wrap-body">

    <header class="main-header">
        <div class="zerogrid">
            <!--Top-->
            <div class="t-center">    <!-- Menu-main -->
                <div id='cssmenu' class="align-center">
                    <ul>
                        <li><a href='{{ url_for('logged_in')}}'><span>Home</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% if random %}
    <section id="container">
        <div class="wrap-container">
            <div class="zerogrid">

                <article>
                    <div class="row wrap-post"><!--Start Box-->
                        <div class="entry-header">
                            <h2 class="entry-title">{{ random }}</h2>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </section>
    {% endif %}
    <!--////////////////////////////////////Footer-->
    <form action="/logout" method="post">
        <header>
            <div>
                <!--Top-->
                <div class="t-center">    <!-- Menu-main -->
                    <div class="align-center">
                        <ul>
                            <li><a href='{{ url_for('logout') }}'><span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </form>
</div>
</body>
</html>
