<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enter Secret Key</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--{#	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>#}-->
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/vendor/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/animate/animate.css') }}">


    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/vendor/css-hamburgers/hamburgers.min.css') }}">


    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/vendor/animsition/css/animsition.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/select2/select2.min.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/vendor/daterangepicker/daterangepicker.css') }}">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css/util.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css/main.css') }}">

</head>
<body>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" enctype="multipart/form-data" action='/check_secret_key'
              method="post">
				<span class="contact100-form-title">
					Enter your Secret key
				</span>

            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span class="label-input100">Secret Key</span>
                <input class="input100" type="text" name="secret_key" placeholder="Enter your secret_key" required>
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="static/css/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="static/css/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="static/css/vendor/bootstrap/js/popper.js"></script>
<script src="static/css/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="static/css/vendor/select2/select2.min.js"></script>
<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});


</script>
<!--===============================================================================================-->
<script src="static/css/vendor/daterangepicker/moment.min.js"></script>
<script src="static/css/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="static/css/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="static/css/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');


</script>

</body>
</html>
