<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Home</title>

    <!-- Mobile Specific Metas
	================================================== -->
<!--{#	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">#}-->

    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="{{ url_for('static',filename='css/zerogrid.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

	<!-- Custom Fonts -->
    <link href="{{ url_for('static',filename='css/font-awesome.css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">


	<link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
	<script src="{{ url_for('static',filename='js/jquery1111.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static',filename='js/script.js') }}"></script>

	<!-- Owl Carousel Assets -->
    <link href="{{ url_for('static',filename='css/owl.carousel.css') }}" rel="stylesheet">

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>

<body>
	<div class="wrap-body">

		<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div class="t-center">	<!-- Menu-main -->
					<div id='cssmenu' class="align-center">
						<ul>
						   <li><a href='{{ url_for('add_friend') }}'><span>Add friend</span></a></li>
                        {% if not lenx %}

							<li><a href='{{ url_for('create_secret_key') }}'><span>Create Secret Key</span></a></li>

							{% endif %}

							<li><a href='{{ url_for('enter_secret_key') }}'><span>Enter Secret Key</span></a></li>
                        </ul>
					</div>
				</div>
			</div>
		</header>

		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div class="zerogrid">
                    {%   for i in range(len)  %}

					<article>
						<div class="row wrap-post"><!--Start Box-->
							<div class="entry-header">
								<h2 class="entry-title">{{ friends[i]['fn']}} {{ friends[i]['sn'] }}</h2>
							</div>
							<div class="entry-content">
                                <br>
                                <p>


                                    <br> Favourite Color   :  {{ friends[i]['fcolor'] }}<br>
                                    <br> Favourite Food   :  {{ friends[i]['ffood'] }}<br>
                                    <br> Favourite Song   :  {{ friends[i]['fsong'] }}<br>
                                    <br> Phone no   :  {{ friends[i]['tel'] }}<br>

                                </p>
                                <br>
							</div>
						</div>
					</article>
                    {%  endfor %}

				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
        <form  action="/logout" method="post">
	 <header>
			<div >
				<!--Top-->
				<div class="t-center">	<!-- Menu-main -->
					<div  class="align-center">
						<ul>
						   <li><a href='{{ url_for('logout') }}'><span>Logout</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
        </form>
	</div>
</body>
</html>
