<html>
<head>
    <link href="{{ url_for('static',filename='css/home_style.css')}}" type="text/css" rel="stylesheet"/>

</head>
<body>

<div id="header_wrapper">
<div class="t-left">
    <a class="site-branding" href="{{ url_for('index') }}">
        <img src="{{ url_for('static',filename="img/logo.jpg") }}" width="200px"/>
    </a>
</div>
 <div id="header">
 <form method="post" action="/login">
     <li>Email<br><input type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></li>
 <li>Password<br><input type="password" name="password" required></li>
     <!--{#   #  <br><a href="">Forgotten account?</a>#}-->
 <li><input type="submit" name="login" value="Log In"></li>
 </form>
 </div>
</div>

<div id="wrapper">

<div id="div2" style="align-self: center ; margin: 100px 400px 400px 100px ; padding-left: 200px ">
<h1>Create an account</h1>
<p>It's free and always will be.</p>
    <form name="signup" method="post" action="/insertuser">
<li><input name="fn" type="text" placeholder="First Name" id="firstname" required><input name="sn" type="text" placeholder="Surname" id="surname" required></li>
        <li><input name="email" type="text" placeholder="email address"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></li>
<li><input name="pass" type="password" placeholder="New password" required></li>
<li><input name="gender" type="radio" value="Female" required>Female <input name="gender" type="radio" value="Male" required>Male</li>
<li id="terms">By clicking Create an account, you agree to our Terms and that <br>you have read our Data Policy including our Cookie Use.</li>
<li><input  type="submit" value="Create an account"></li>
    </form>
</div>

</div>

</body>
</html>