<!DOCTYPE html>
<html lang="en">
<head>
	<title>Add Friend</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<!--{#	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>#}-->
<!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/bootstrap/css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/animate/animate.css') }}">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/css-hamburgers/hamburgers.min.css') }}">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/animsition/css/animsition.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/select2/select2.min.css') }}">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/daterangepicker/daterangepicker.css') }}">


     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css/util.css') }}">

     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/css/main.css') }}">

</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form"  enctype="multipart/form-data" action='/upload' method="post">
				<span class="contact100-form-title">
					Enter your slambook details 
				</span>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">First name</span>
					<input class="input100" type="text" name="fname" placeholder="Enter your first name" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Surname</span>
					<input class="input100" type="text" name="sname" placeholder="Enter your last name" required>
					<span class="focus-input100"></span>
				</div>




                <div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Gender</span>
					<span class="label-input100">Male</span><input class="input100" type="radio" name="gender" value="Male" required>
                   <span class="label-input100">Female</span> <input class="input100" type="radio" name="gender" value="Female" required>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Fav color</span>
					<input class="input100" type="text" name="fcolor" placeholder="Enter your fav color" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Fav food</span>
					<input class="input100" type="text" name="ffood" placeholder="Enter your fav food" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Fav song</span>
					<input class="input100" type="text" name="fsong" placeholder="Enter your fav song" required>
					<span class="focus-input100"></span>
				</div>



                <div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Phone no</span>
					<input class="input100" type="tel" name="tel" placeholder="Enter your contact number"  maxlength="12" minlength="10" required>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="static/css/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/css/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/css/vendor/bootstrap/js/popper.js"></script>
	<script src="static/css/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/css/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="static/css/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/css/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/css/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/css/js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
